.App {
    width: 40%;
    margin: 2em auto;
    background-color: #394049;
    border-radius: 5px;
    color: #fff;
}

.todo-header {
    padding: 0.5em;
    border-bottom: 1px solid #2C3035;
    text-align: center;
}

.todo-header h1 {
    margin: 0;
    color: rgb(0, 153, 255);
}

.form-todo {
    padding: 1em;
    margin: 0 2em;
    border-bottom: 1px solid #2C3035;
}

.form-todo h2,
.list-todo h2 {
    text-align: center;
    margin-top: 0;
    font-size: 24px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: .4em;
}

.form-control input {
    border: 1px solid #222;
    border-radius: 2px;
    background-color: #2C3035;
    padding: .7em;
    color: #dfdfdf;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #333333c7;
    color: #eee;
    display: block;
    width: 100%;
    border: 1px solid #222;
    border-radius: 5px;
    cursor: pointer;
    padding: 1em;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #000000c4;
    border: 1px solid #0099ff;
    color: #ffffff;
    transition: .6s;
    box-sizing: border-box;
}

.list-todo {
    padding: 0 1em 2em;
    margin: 1em 2em;
    font-size: 24px;
}

.list-todo h2 {
    margin-bottom: 0;
}

.list-todo p {
    text-align: center;
}

.todo {
    border-bottom: 1px solid #444;
    padding: 1em 0;
}

.todo h3 {
    margin-bottom: .5em;
}

.todo-done {
    text-decoration: line-through;
    color: rgb(0, 128, 255);
}

.todo p {
    text-align: left;
    font-style: italic;
    font-size: .7em;
    margin-bottom: 1.5em;
}

.todo svg {
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 1em;
    transition: .5s;
}

.todo svg:hover {
    color: rgb(240, 98, 146);
}

.actions {
    font-size: 26px;
}